In [358]:
import pandas as pd

In [413]:
from collections import Counter

In [359]:
df = pd.read_csv ('country_vaccination_stats.csv')

# Q4

In [360]:
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [361]:
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [362]:
df.index

RangeIndex(start=0, stop=1502, step=1)

In [363]:
pd.isnull(df)

      country   date  daily_vaccinations  vaccines
0       False  False                True     False
1       False  False               False     False
2       False  False               False     False
3       False  False               False     False
4       False  False               False     False
...       ...    ...                 ...       ...
1497    False  False               False     False
1498    False  False               False     False
1499    False  False               False     False
1500    False  False               False     False
1501    False  False               False     False

[1502 rows x 4 columns]

In [364]:
df["country"].value_counts()

Canada                  43
Wales                   43
Scotland                43
Northern Ireland        43
Israel                  38
United States           37
China                   37
United Kingdom          36
England                 36
Mexico                  33
Chile                   33
Lithuania               32
Czechia                 30
Italy                   30
Russia                  30
Denmark                 30
Switzerland             30
Norway                  29
Portugal                29
Romania                 29
Bahrain                 29
Latvia                  29
Germany                 29
Greece                  29
Estonia                 29
Poland                  28
Argentina               28
Hungary                 28
Oman                    28
Malta                   28
Bulgaria                28
Iceland                 27
Croatia                 27
Finland                 26
Costa Rica              26
Belgium                 26
Luxembourg              26
Ireland                 25
Spain                   22
Sweden                  22
France                  22
Slovenia                22
United Arab Emirates    21
Austria                 20
Slovakia                18
Serbia                  18
Cyprus                  17
Netherlands             17
Gibraltar               15
Seychelles              15
Indonesia               14
Turkey                  13
Saudi Arabia            12
Singapore               12
India                   11
Brazil                  10
Panama                   6
Isle of Man              5
Ecuador                  2
Kuwait                   1
Name: country, dtype: int64

In [365]:
len(df["country"].unique()) # we have 60 countries.

60

In [366]:
df["daily_vaccinations"].value_counts(dropna=False)
#We have 60 NaN values. I should fill them per country with the minimum daily vaccination number of relevant countries.
#(60 countries and 60 NaN values... Probably every country has 1 missing values.Then if there is a country which has 1 NaN value it will be a problem.)
# i should fill that with 0. ("Kuwait might be a problem but i will check every country later.")

NaN         60
3000.0      22
63.0        21
187500.0    16
62.0        12
            ..
4912.0       1
66980.0      1
3361.0       1
31828.0      1
35134.0      1
Name: daily_vaccinations, Length: 1225, dtype: int64

In [367]:
country_list = df["country"].unique().tolist()

In [368]:
country_list

['Argentina',
 'Austria',
 'Bahrain',
 'Belgium',
 'Brazil',
 'Bulgaria',
 'Canada',
 'Chile',
 'China',
 'Costa Rica',
 'Croatia',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Ecuador',
 'England',
 'Estonia',
 'Finland',
 'France',
 'Germany',
 'Gibraltar',
 'Greece',
 'Hungary',
 'Iceland',
 'India',
 'Indonesia',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Kuwait',
 'Latvia',
 'Lithuania',
 'Luxembourg',
 'Malta',
 'Mexico',
 'Netherlands',
 'Northern Ireland',
 'Norway',
 'Oman',
 'Panama',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'Saudi Arabia',
 'Scotland',
 'Serbia',
 'Seychelles',
 'Singapore',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Sweden',
 'Switzerland',
 'Turkey',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Wales']

In [369]:
len(country_list) #  number of countries matched

60

In [370]:
df_filled=df.copy() # I created a new dataframe from the original one to fill the missing values.

In [371]:
# i need to check if a country does not have any valid vaccination number yet.

In [372]:
def haveAnyValid(country_list):

    countries=[]
    for country in country_list:
        df_every_country=df[df["country"]==country]
        if (df_every_country["country"].value_counts()==df_every_country["daily_vaccinations"].isna().sum()).bool():
            countries.append(country)

        else:
            pass

    print("This countries don't have any valid vaccination numbers yet.. :\n")
    print(*countries, sep='\n')

In [373]:
haveAnyValid(country_list)
# As I thought before, only Kuwait is going to be a problem. I will consider this.

This countries don't have any valid vaccination numbers yet.. :

Kuwait

In [374]:
df_filled

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [375]:
# my function

def fillWithMin(country_list):
    for country in country_list:
        df_per_country=df[df["country"]==country]
        if (df_per_country["country"].value_counts()==df_per_country["daily_vaccinations"].isna().sum()).bool():
            df_updated=df_per_country.fillna(0)
            df_filled.update(df_updated)
            
        else:
            df_updated=df_per_country.fillna(df_per_country.daily_vaccinations.min())
            df_filled.update(df_updated)

In [376]:
fillWithMin(country_list)

In [377]:
df_filled

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [378]:
df_filled[df_filled["country"]=="Kuwait"] 
# i should check if Kuwait's daily vaccinations numbers replaced with 0 :)

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 0.0  Pfizer/BioNTech

# Q5

In [403]:
medians_dict={}

In [408]:
def mediansOfCountries(country_list):
    for country in country_list:
        df_per_country=df_filled[df_filled["country"]==country]
        medians_dict[country]=df_per_country["daily_vaccinations"].median()

In [409]:
print(medians_dict)

{}

In [410]:
mediansOfCountries(country_list)

In [411]:
print(medians_dict)

{'Argentina': 11645.0, 'Austria': 7850.0, 'Bahrain': 3662.0, 'Belgium': 3606.0, 'Brazil': 17220.0, 'Bulgaria': 1010.0, 'Canada': 11044.0, 'Chile': 1291.0, 'China': 276786.0, 'Costa Rica': 675.5, 'Croatia': 2485.0, 'Cyprus': 708.0, 'Czechia': 5378.0, 'Denmark': 7095.5, 'Ecuador': 108.0, 'England': 107310.5, 'Estonia': 1043.0, 'Finland': 2035.5, 'France': 41496.0, 'Germany': 51184.0, 'Gibraltar': 713.0, 'Greece': 5290.0, 'Hungary': 5464.5, 'Iceland': 63.0, 'India': 173922.0, 'Indonesia': 13200.0, 'Ireland': 6528.0, 'Isle of Man': 138.0, 'Israel': 92587.0, 'Italy': 44475.5, 'Kuwait': 0.0, 'Latvia': 592.0, 'Lithuania': 1933.5, 'Luxembourg': 88.0, 'Malta': 407.5, 'Mexico': 5488.0, 'Netherlands': 6762.0, 'Northern Ireland': 2135.0, 'Norway': 2958.0, 'Oman': 1192.0, 'Panama': 1324.0, 'Poland': 22702.5, 'Portugal': 5944.0, 'Romania': 13030.0, 'Russia': 23563.0, 'Saudi Arabia': 16807.5, 'Scotland': 5821.0, 'Serbia': 2920.0, 'Seychelles': 1000.0, 'Singapore': 4907.0, 'Slovakia': 5357.0, 'Slovenia': 2374.0, 'Spain': 55238.0, 'Sweden': 5382.5, 'Switzerland': 3000.0, 'Turkey': 150356.0, 'United Arab Emirates': 86430.0, 'United Kingdom': 120409.0, 'United States': 378253.0, 'Wales': 2198.0}

In [412]:
sorted_medians=sorted(medians_dict.items(), key=lambda items: items[1], reverse=True)
for i in sorted_medians:
    print(i[0], i[1])

United States 378253.0
China 276786.0
India 173922.0
Turkey 150356.0
United Kingdom 120409.0
England 107310.5
Israel 92587.0
United Arab Emirates 86430.0
Spain 55238.0
Germany 51184.0
Italy 44475.5
France 41496.0
Russia 23563.0
Poland 22702.5
Brazil 17220.0
Saudi Arabia 16807.5
Indonesia 13200.0
Romania 13030.0
Argentina 11645.0
Canada 11044.0
Austria 7850.0
Denmark 7095.5
Netherlands 6762.0
Ireland 6528.0
Portugal 5944.0
Scotland 5821.0
Mexico 5488.0
Hungary 5464.5
Sweden 5382.5
Czechia 5378.0
Slovakia 5357.0
Greece 5290.0
Singapore 4907.0
Bahrain 3662.0
Belgium 3606.0
Switzerland 3000.0
Norway 2958.0
Serbia 2920.0
Croatia 2485.0
Slovenia 2374.0
Wales 2198.0
Northern Ireland 2135.0
Finland 2035.5
Lithuania 1933.5
Panama 1324.0
Chile 1291.0
Oman 1192.0
Estonia 1043.0
Bulgaria 1010.0
Seychelles 1000.0
Gibraltar 713.0
Cyprus 708.0
Costa Rica 675.5
Latvia 592.0
Malta 407.5
Isle of Man 138.0
Ecuador 108.0
Luxembourg 88.0
Iceland 63.0
Kuwait 0.0

In [414]:
c = Counter(sorted_medians)

In [415]:
top_3= c.most_common(3)

In [466]:
print("TOP 3  COUNTRIES BY MEDIANS OF DAILY VACCINATIONS \n")
for i in top_3:
    print(" ",i[0][0]," :", i[0][1])

TOP 3  COUNTRIES BY MEDIANS OF DAILY VACCINATIONS

  United States  : 378253.0
  China  : 276786.0
  India  : 173922.0

# Q6

In [427]:
df_filled.info() # as I see here date is object type.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1502 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [428]:
df_filled["date"]

0       12/29/2020
1       12/30/2020
2       12/31/2020
3         1/1/2021
4         1/2/2021
           ...
1497     1/20/2021
1498     1/21/2021
1499     1/22/2021
1500     1/23/2021
1501     1/24/2021
Name: date, Length: 1502, dtype: object

In [463]:
df_date= df_filled[df_filled["date"]=="1/6/2021"]

In [464]:
df_date["daily_vaccinations"].sum()

1485255.0